*{
  text-decoration: none;
  margin: 0;
}

body{
  margin: 0;
}

.navbar{
  background: crimson;
  font-family: calibri;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a{
  font-size: 35px;
  font-weight: 600;
  color: white;
}

li{
  list-style: none;
  display: inline-block;
}

li a{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}


/* footer  */
.footerclass{
  background-color: rgb(237, 125, 147);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* food */
.foodclass{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid black;
  margin: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.foodclass img {
  border-radius: 10px;
  
}