.header {
  background-color: rgb(182, 182, 181);
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: flex-end;
  flex-wrap: wrap;
  border-radius: 10px;
}

.header ol {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 18px;
  color: rgb(16, 16, 16);
  cursor: pointer;
  margin-left: 30%;
}

.footer {
  background-color: rgb(182, 182, 181);
  padding: 10px;
  border-radius: 10px;

}

.title {
  background-color: rgb(188, 188, 188);
  border-radius: 15px;
  text-align: center;
}

.welcome {
  background-color: green;
  color: white;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.failure {
  background-color: red;
  font-size: 20px;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.titlecategory {
  background-color: rgb(118, 204, 207);
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  border: 1px solid black;
}

.listitems li {
  color: rgb(49, 1, 1);
  list-style: none;
  text-align: center;
  padding: 2px;
  font-size: 20px;
}

.classone {}

.classtwo {
  gap: 50px;
}

body {
  background-color: aliceblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.todolist {
  text-align: center;
}

h2 {
  color: rgb(134, 41, 220);
  font-size: 3rem;
}

li {
  list-style-type: none;
  border: 1px solid black;
  padding: 0px 20px;
  border-radius: 10px;
  margin: 15px 0px;
  background-color: rgb(213, 136, 249);
}

input[type="text"] {
  padding: 10px;
  background-color: rgb(249, 225, 193);
}

button {
  padding: 10px;
  margin: 5px 10px;
}

.addbutton {
  background-color: rgb(36, 166, 36);
  cursor: pointer;
}

.addbutton:hover {
  background-color: rgb(130, 246, 130);
}

.deletebutton {
  background-color: red;
  margin-left: 40px;
}

.deletebutton:hover {
  background-color: rgb(245, 98, 98);
  cursor: pointer;
}

.todoitems {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgb(180, 238, 219);

}

.upbutton,
.downbutton {
  background-color: rgb(26, 118, 163);
  cursor: pointer;
}

.upbutton:hover,
.downbutton:hover {
  background-color: rgb(133, 237, 247);
}

