.welcome{
  background-color: green;
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

.notwelcome{
  background-color: red;
  padding: 10px;
  margin: 10px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}