*{
  text-decoration: none;
  margin: 0;
}

body{
  margin: 0;
}

.navbar{
  background: rgb(146, 46, 239);
  font-family: calibri;
  padding-right: 15px;
  padding-left: 15px;
}

.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 35px;
  font-weight: 600;
  color: rgb(247, 238, 243);
}

li{
  list-style: none;
  display: inline-block;
}

li a{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

li a:hover{
  color: rgb(176, 176, 237);
}

/* footer  */
.footerclass{
  background-color: rgb(181, 109, 248);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

/* series card  */
.card{
  display: inline-block;
  border: 1px solid black;
  padding: 15px;
  margin: 10px;
  max-width: 350px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgb(104, 103, 103);
  text-align: center;
  background-color:rgb(246, 242, 251);
  justify-content: center;
  align-items: center;
}

.card:hover{
  cursor: pointer;
}
.card .card-img{
  max-width: 60%;
  border-radius: 15px;
  margin-bottom: 5px;
}

.card .card-title{
  font-family: cursive;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  color: rgb(82, 18, 142);
}

.card .card-text{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(0, 0, 0) ;
}